#main-section-defect-details{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

tr th,
td{
    padding : 6px 5px;
}

table{
    border-collapse: collapse;
}

thead{
    background-color: lightblue;
}

tbody{
    background-color: whitesmoke;
}