.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* user defined css */


.form-wrapper{
  width: 50%;
  margin: 0 auto;
  background-color: whitesmoke;
}

.form-container{
  padding : 10px 150px;
}

.header{
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding : 0 20px;
}

.right-header-section{
  display: inline-flex;
  justify-content: space-between;
  margin-right:  50px;
}

.right-header-section p {
  margin-right: 20px;
}
